@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: 'Inter', sans-serif;
}

.leaflet-container {
    font-family: var(--font-sans) !important;
}

.leaflet-control-attribution {
    user-select: none;
}